<favr-page-header
  pageTitle="Set Up Payments"
></favr-page-header>

<ion-content>
  <div class="container">
    <div class="input">
      <favr-input inputLabel="Card Number"></favr-input>
    </div>
    <div class="input">
      <favr-select selectLabel="Expiration Month"></favr-select>
    </div>
    <div class="input">
      <favr-input inputLabel="Expiration Year"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="CVC"></favr-input>
    </div>
  </div>
  <div class="submit">
    <ion-button color="primary" shape="round">Submit</ion-button>
  </div>
</ion-content>