<favr-page-header
  pageTitle="Past Transfers"
></favr-page-header>

<ion-content>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label" color="medium">
        LIFETIME EARNINGS
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
      <ion-col class="col" size="12">
        <ion-text color="dark">$250.00</ion-text>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label" color="medium">
        PAST TRANSFERS
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size="6" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-text color="dark" class="amount"> $50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size="6" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-text color="dark" class="amount"> $50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size="6" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-text color="dark" class="amount"> $50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size="6" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-text color="dark" class="amount"> $50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size="6" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
    </ion-col>
    <ion-col size="6" class="col">
      <ion-text color="dark" class="amount"> $50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row> 
</ion-content>