<favr-page-header
  pageTitle="Reset Password"
></favr-page-header>

<ion-content>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label" color="medium">
        RESET PASSWORD
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <div class="container">
    <div class="input">
      <favr-input inputLabel="Old Password"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="New Password"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="Confirm Password"></favr-input>
    </div>
  </div>
  <div class="submit">
    <ion-button color="primary" shape="round">Submit</ion-button>
  </div>
</ion-content>