<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-list-header>
      RESET PASSWORD
    </ion-list-header>

    <ion-item>
      <ion-label position="stacked">Old Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirm Password<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Submit</ion-button>
    </div>

  </ion-list>
</ion-content>
