.search-categories-area {
  --padding-top: 0;
  .search-categories {
    text-align: left;
  }
}

.swiper-container {
  overflow: unset;
}

ion-slide {
  height: available;
  display: block;
  text-align: left;
}

ckeditor {
  ::ng-deep {
    color: #000 !important;
  }
  -webkit-user-select: text;
  user-select: text;
}

.submit-button {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.price-proposal {
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: green;
    margin-bottom: 20px;
  }
}
