<favr-page-header
  [pageTitle]="pageTitle"
  [isModal]="isModal"
  [showProfile]="!isModal"
  [progress]="progress"
  (close)="closeRequestPage()"
>
</favr-page-header>

<ion-content>
  <form action="." #requestForm="ngForm">
    <ion-slides (ionSlideDidChange)="onSlideChange()">
      <ion-slide>
        <ion-toolbar class="search-categories-area">
          <ion-searchbar placeholder="Search categories..." class="search-categories"></ion-searchbar>
        </ion-toolbar>
        <favr-category-card-buttons
          (selectedCategory)="selectCategory($event)"
          [categories]="categories"
        ></favr-category-card-buttons>
      </ion-slide>

      <ion-slide>
        <ckeditor tagName="textarea" (change)="onEditorChange($event)" [editor]="Editor" [config]="editorConfig"></ckeditor>
        <ion-button *ngIf="taskRequest.description" (click)="slides.slideNext()" class="long-button">
          Swipe or Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item class="datetime-item">
            <ion-label position="stacked">
              Complete Task By
            </ion-label>
            <ion-datetime
              #complete_before="ngModel"
              [(ngModel)]="taskRequest.date"
              name="complete_before"
              [max]="maxYear"
              [min]="minYear"
              [displayFormat]="'MMM DD, YYYY hh:mm A'"
              (ionChange)="setDatetime()"
              required>
            </ion-datetime>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="complete_before.valid || submitted == false" class="ion-padding-start">
              You must provide a date and time for when the task must be completed by
            </p>
          </ion-text>
        </ion-list>

        <ion-button *ngIf="taskRequest.date" (click)="slides.slideNext()" class="long-button">
          Swipe or Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item class="input-item">
            <ion-label position="stacked">
              Enter Street Address
            </ion-label>
            <ion-input
              #street_address="ngModel"
              [(ngModel)]="taskRequest.street_address"
              name="street_address"
              [autocorrect]="true"
              [autocomplete]="true"
              class="icon"
              (ionChange)="setStreetAddress()"
              required>
              <ion-icon name="pin" color="primary" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="street_address.valid || submitted == false" class="ion-padding-start">
              Street Address is required
            </p>
          </ion-text>

          <ion-item class="input-item">
            <ion-label position="stacked">
              Enter City
            </ion-label>
            <ion-input
              #city="ngModel"
              [(ngModel)]="taskRequest.city"
              name="city"
              [autocorrect]="true"
              [autocomplete]="true"
              class="icon"
              (ionChange)="setCity()"
              required>
              <ion-icon name="business" color="primary" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="city.valid || submitted == false" class="ion-padding-start">
              City is required
            </p>
          </ion-text>

          <ion-item class="select-item">
            <ion-label position="stacked">
              Select State
            </ion-label>
            <ion-select
              #state="ngModel"
              [(ngModel)]="taskRequest.state"
              name="state"
              (ionChange)="setState()"
              required>
              <ion-select-option *ngFor="let state of states" value="{{state.abbrev}}">{{state.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="state.valid || submitted == false" class="ion-padding-start">
              State is required
            </p>
          </ion-text>

          <ion-item class="input-item">
            <ion-label position="stacked">
              Enter Zip
            </ion-label>
            <ion-input
              #zip="ngModel"
              [(ngModel)]="taskRequest.zip"
              name="zip"
              type="tel"
              class="icon"
              (ionChange)="setZip()"
              required>
              <ion-icon name="globe" color="primary" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="zip.valid || submitted == false" class="ion-padding-start">
              Zipcode is required
            </p>
          </ion-text>
        </ion-list>

        <ion-button *ngIf="taskRequest.street_address
                        && taskRequest.city
                        && taskRequest.state
                        && taskRequest.zip"
                    (click)="slides.slideNext()" class="long-button">
          Swipe or Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-slides [pager]="true" *ngIf="taskRequest.image_one || taskRequest.image_two || taskRequest.image_three" class="photo-gallery">
          <ion-slide *ngIf="taskRequest.image_one" class="marketplace-slide-image">
            <img src="data:image/jpeg;base64,{{taskRequest.image_one}}" alt="Attached Image 1">
            <ion-icon (click)="removeImage(0)" name="close-circle" color="primary" class="remove-attached-image-button"></ion-icon>
          </ion-slide>

          <ion-slide *ngIf="taskRequest.image_two" class="marketplace-slide-image">
            <img src="data:image/jpeg;base64,{{taskRequest.image_two}}" alt="Attached Image 2">
            <ion-icon (click)="removeImage(1)" name="close-circle" color="primary" class="remove-attached-image-button"></ion-icon>
          </ion-slide>

          <ion-slide *ngIf="taskRequest.image_three" class="marketplace-slide-image">
            <img src="data:image/jpeg;base64,{{taskRequest.image_three}}" alt="Attached Image 3">
            <ion-icon (click)="removeImage(2)" name="close-circle" color="primary" class="remove-attached-image-button"></ion-icon>
          </ion-slide>
        </ion-slides>

        <ion-button (click)="openPhotoGallery()" class="long-button">
          <ion-icon name="images" slot="start"></ion-icon>
          Attach Photos (Optional)
        </ion-button>
        <ion-button (click)="openCamera()" class="long-button camera-button">
          <ion-icon name="camera" slot="start"></ion-icon>
          Take Photo (Optional)
        </ion-button>

        <ion-button (click)="slides.slideNext()" class="long-button">
          Swipe or Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ul>
          <li><b>Easy</b> tasks take 1 hour or less to complete.</li>
          <li><b>Medium</b> tasks take about 2 - 3 hours to complete.</li>
          <li><b>Hard</b> tasks take more than 3 hours to complete.</li>
        </ul>
        <div text-center>
          <ion-button color="success"
                      [ngClass]="(taskRequest.intensity && taskRequest.intensity != 'Easy') ? 'inactive' : ''"
                      (click)="setDifficulty('Easy')">
            Easy 👌
          </ion-button>
          <ion-button color="warning"
                      [ngClass]="(taskRequest.intensity && taskRequest.intensity != 'Medium') ? 'inactive' : ''"
                      (click)="setDifficulty('Medium')">
            Medium 💪🏿
          </ion-button>
          <ion-button color="danger"
                      [ngClass]="(taskRequest.intensity && taskRequest.intensity != 'Hard') ? 'inactive' : ''"
                      (click)="setDifficulty('Hard')">
            Hard 🔥
          </ion-button>
        </div>
        <div text-center>
          <ion-note>
            <small>
              <b>Note:</b> you must pay your worker the local minimum wage
            </small>
          </ion-note>
        </div>
        <ion-button *ngIf="taskRequest.intensity" (click)="slides.slideNext()" class="long-button">
          Swipe or Tap to Continue
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
      </ion-slide>

      <ion-slide>
        <ion-list>
          <ion-item class="input-item">
            <ion-label position="stacked">
              Set Your Price
            </ion-label>
            <ion-input
              #price="ngModel"
              [(ngModel)]="taskRequest.price"
              name="price"
              type="tel"
              step="0.01"
              min="5.00"
              max="1999.99"
              pattern="[0-9]*"
              class="icon"
              (ionChange)="setPrice()"
              required>
              <ion-icon name="logo-usd" color="primary" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="price.valid || submitted == false" class="ion-padding-start">
              Price proposal is required
            </p>
          </ion-text>
        </ion-list>

        <h4 text-center>You will pay</h4>
        <div class="price-proposal">
          <h1>
            {{((taskRequest.price) ? taskRequest.price : 0) | currency:'USD'}}
          </h1>
        </div>

        <ion-button (click)="onSubmitTaskRequest(requestForm)"
                    [disabled]="requestForm.valid || progress < 1"
                    type="submit"
                    class="long-button">
          Submit
        </ion-button>
      </ion-slide>

    </ion-slides>
  </form>
</ion-content>
