<favr-page-header
  pageTitle="Manage Cards"
></favr-page-header>

<ion-content>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label" color="medium">
        Manage Payment Methods
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row routerLink="/set-up-payments" class="add-payment-btn">
    <ion-item-divider>
    <ion-col size="12">
      <ion-text color="dark">
        <h6>
          <ion-icon name="add"></ion-icon> Add a Payment Method
        </h6>
      </ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-content>