<favr-page-header
  pageTitle="Settings"
></favr-page-header>

<ion-content>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label">
        LEGAL
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <a href="https://askfavr.com/terms.html" target="_blank" class="link">
  <ion-row class="item">
    <ion-item-divider>
    <ion-col size="11">
      <ion-text color="dark">
        <h6>
          <ion-icon name="document"></ion-icon> Terms of Service
        </h6>
      </ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  </a>
  <a href="https://app.termly.io/document/privacy-policy/f48f5cbe-6359-43b5-804f-4d8b82429fe6" target="_blank" class="link">
    <ion-row class="item">
      <ion-item-divider>
      <ion-col size="11">
        <ion-text color="dark">
          <h6>
            <ion-icon name="megaphone"></ion-icon> Privacy Policy
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
      </ion-item-divider>
    </ion-row>
  </a>
</ion-content>
