ion-datetime.ios {
  --padding-start: 8px!important;
  --background: rgba(var(--ion-text-color-rgb,0,0,0),0.07);
  padding-top: 10px;
  padding-bottom: 0;
  background: var(--background);
  height: 36px!important;
  contain: strict;
  display: block;
  position: relative;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 100%;
  color: var(--ion-text-color);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
}

ion-datetime.ios.active {
  box-shadow: inset 0 0 4px var(--ion-color-primary);
}

ion-datetime.icon {
  --padding-start: 0!important;
  padding-left: unset!important;
  -webkit-padding-start: 30px!important;
  padding-inline-start: 30px!important;
}


.datetime-item {
  --inner-border-width: 0;
  --inner-padding-end: 16px;
  ion-icon {
    margin-left: calc(50% - 60px);
    left: 8px;
    top: 0;
    position: absolute;
    width: 16px;
    height: 95%;
    contain: strict;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    pointer-events: none;
  }
  ion-label {
    z-index: 999;
  }
}
