<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="profile">
      {{profile.user.user.first_name}} {{profile.user.user.last_name}}
    </ion-title>
    <ion-buttons slot="end" *ngIf="!isOwner" >
      <ion-button (click)="startChat(profile.user.user.username)">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isOwner">
      <ion-button routerLink="/app/chat" routerDirection="forward">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
      <ion-button (click)="presentOwnerActionSheet()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="profile">
  <div text-center padding>
    <div class="img-container">
      <img [src]="(profile.user.image) ? profile.user.image : '../../assets/img/user.png'"
           (click)="viewAttachedPhoto(profile.user.image, profile.user.user.first_name + ' ' + profile.user.user.last_name)"
           alt="Profile Picture of {{profile.user.user.first_name}} {{profile.user.user.last_name}}">
    </div>
    <ion-note>
      <p>
        <ion-chip [color]="status.class">
          <ion-label>{{status.text}}</ion-label>
        </ion-chip>
      </p>
      @{{profile.user.user.username}}
      <img *ngIf="profile.user.user.role == 'Verified Freelancer'"
           class="badge"
           src="../../../assets/img/verified.png" alt="This user is a Verified Freelancer">
    </ion-note>
  </div>
  <div text-center padding>
    <section style="margin-top: -20px;" *ngIf="!isOwner">
      <ion-button *ngIf="showFriendButton" size="small" [disabled]="friendButton.disable" (click)="handleFriendButtonClick()">
        <ion-icon [name]="friendButton.class"></ion-icon>
      </ion-button>
    </section>
    {{profile.user.description}}
  </div>
  <hr>
  <ng-container text-center *ngIf="profile.user.user.main_marketplace.length === 0; else customerTasks">
    <ion-title color="medium" class="no-tasks">
      No Tasks To Display
    </ion-title>
  </ng-container>

  <ng-template #customerTasks>
    <favr-marketplace-card *ngFor="let task of profile.user.user.main_marketplace"
                           [mainMarketplaceTask]="task"
    ></favr-marketplace-card>
  </ng-template>

</ion-content>
