.form-submit-button {
  --padding-start: 16px;
}

.signup-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.signup-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.swiper-container {
  overflow: unset;
}

ion-slide {
  height: available;
  display: block;
  text-align: left;
}
