<ion-card class="marketplace-card">

  <ion-slides [pager]="true">
    <ion-slide (click)="viewAttachedPhoto(mainMarketplaceTask.image_one, 'Image 1')" class="marketplace-slide-image" *ngIf="mainMarketplaceTask.image_one">
      <img [src]="mainMarketplaceTask.image_one" alt="image one">
    </ion-slide>

    <ion-slide (click)="viewAttachedPhoto(mainMarketplaceTask.image_two, 'Image 2')" class="marketplace-slide-image" *ngIf="mainMarketplaceTask.image_two">
      <img [src]="mainMarketplaceTask.image_two" alt="image two">
    </ion-slide>

    <ion-slide (click)="viewAttachedPhoto(mainMarketplaceTask.image_one, 'Image 3')" class="marketplace-slide-image" *ngIf="mainMarketplaceTask.image_three">
      <img [src]="mainMarketplaceTask.image_three" alt="image three">
    </ion-slide>
  </ion-slides>

  <ion-card-header>
    <ion-item detail="false" lines="none" routerLink="/app/profile/{{mainMarketplaceTask.customer.id}}">
      <ion-avatar slot="start">
        <img [src]="(mainMarketplaceTask.customer.profile.image) ? mainMarketplaceTask.customer.profile.image : '../../../../assets/img/user.png'" alt="profile picture">
      </ion-avatar>
      {{mainMarketplaceTask.customer.first_name}} {{mainMarketplaceTask.customer.last_name}}
      <div slot="end">
        <div class="marketplace-card-price-area">
          <div class="marketplace-card-price-tag">
            {{mainMarketplaceTask.price | currency:'USD'}}
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item detail="false" lines="none">
      <div slot="start">
        <small>
          <div class="complete-by-time">Needs Complete by {{mainMarketplaceTask.isoFormat | date}}</div>
          <ion-note class="note posted-time">
            Posted {{mainMarketplaceTask.postedFormat | date}}
          </ion-note>
        </small>
      </div>
      <div slot="end" class="marketplace-card-distance-away">
        <small>
          4 min away
        </small>
      </div>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <div id="taskDescription" [innerHTML]="mainMarketplaceTask.description"></div>
  </ion-card-content>

  <ion-row *ngIf="userRole == 'Verified Freelancer' && mainMarketplaceTask.customer_id != userID"
           class="ion-no-padding ion-justify-content-center">
    <ion-col size="4" class="ion-text-left">
      <ion-button (click)="freelancerAcceptTask()"
                  fill="clear" size="small" color="primary">
        <ion-icon name="thumbs-up" slot="start"></ion-icon>
        Accept
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button fill="clear" size="small" color="primary" (click)="loadMarketplaceDetail(mainMarketplaceTask.id)" routerDirection="forward">
        <ion-icon name="eye" slot="start"></ion-icon>
        View
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="clear" size="small" color="primary" (click)="startChat(mainMarketplaceTask.customer.username)">
        <ion-icon name="chatbubbles" slot="start"></ion-icon>
        Contact
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="mainMarketplaceTask.customer_id == userID"
           class="ion-no-padding ion-justify-content-center">
    <ion-col size="4" class="ion-text-left">
      <ion-button fill="clear" size="small" color="primary">
        <ion-icon name="close" slot="start" size="large" style="margin-right: 0"></ion-icon>
        Cancel
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-center">
      <ion-button fill="clear" size="small" color="primary" (click)="loadMarketplaceDetail(mainMarketplaceTask.id)" routerDirection="forward">
        <ion-icon name="eye" slot="start"></ion-icon>
        View
      </ion-button>
    </ion-col>
    <ion-col size="4" class="ion-text-right">
      <ion-button fill="clear" size="small" color="primary">
        <ion-icon name="create" slot="start"></ion-icon>
        Edit
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="userRole != 'Verified Freelancer' && mainMarketplaceTask.customer_id != userID"
           class="ion-no-padding ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button fill="clear" size="small" color="primary" (click)="loadMarketplaceDetail(mainMarketplaceTask.id)" routerDirection="forward">
        <ion-icon name="eye" slot="start"></ion-icon>
        View
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
