.scroll {
  background: #ededed;
}

.complete-by-time {
  display: block;
}

.hide,
[hidden],
template {
  display: block !important;
}

.marketplace-card-price-area {
  width: -webkit-fill-available;
  text-align: right;
  position: fixed;
  top: 0;
  color: green;
  font-size: 20px;
  z-index: 999;
  font-weight: 700;
  padding-right: 1rem;
  padding-top: 1em;
  .marketplace-card-price-tag {
    width: fit-content;
    float: right;
    background: var(--ion-color-dark-contrast);
    border-radius: 1rem;
    padding: 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
  }
}

ion-slides {
  width: -webkit-fill-available;
}

ion-card-header {
  ion-item {
    --padding-start: 0;
  }
}

.posted-time {
  display: block;
  float: left;
}

.marketplace-slide-image {
  max-height: 200px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.marketplace-card {
  display: flex;
  flex-direction: column;
}

@media(min-width: 612px) {
  .marketplace-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}

.marketplace-card ion-card-header {
  padding: 0;
}

.marketplace-card ion-card-header .item {
  padding: 4px 16px;
}

.marketplace-card ion-card-content {
  flex: 1 1 auto;
  padding: 0;
}
