<favr-page-header
  [pageTitle]="title"
  [showSearchBar]="true"
  (handleSearch)="handleSearch($event)"
>
</favr-page-header>

<ion-content>
  <!--<div>-->
    <!--<ion-select class="filter" placeholder="Select One">-->
      <!--<ion-select-option value="f">Female</ion-select-option>-->
      <!--<ion-select-option value="m">Male</ion-select-option>-->
    <!--</ion-select>-->
  <!--</div>-->


  <!-- Default Segment -->
  <!-- Icon end -->
  <ion-segment color="danger" scrollable (ionChange)="segmentChanged($event)">
    <ion-segment-button checked layout="icon-end" value="friends">
      <ion-label>Friend List</ion-label>
    </ion-segment-button>
    <ion-segment-button checked layout="icon-end" value="recommended">
      <ion-label>Discover</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-end" value="new">
      <ion-label>Requests</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start" (click)="goToUserProfile(user.id)">
        <ion-img [src]="user.profile.image"></ion-img>
      </ion-avatar>
      <ion-label (click)="goToUserProfile(user.id)">
        {{user.name}}
        <br>
        <ion-note (click)="goToUserProfile(user.id)">@{{user.username}}</ion-note>
      </ion-label>
      <ion-button (click)="handleClick(user)">
        <ion-icon [name]="btnClass"></ion-icon>
      </ion-button>
      <ion-button *ngIf="secondButton" (click)="rejectFriendRequest(user.id)">
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
