<ion-header>
  <ion-toolbar>
    <ion-title hidden>Marketplace</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <h1 class="page-title">Marketplace</h1>
    <ion-searchbar placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <favr-marketplace-card *ngFor="let task of visibleRequests"
                         [mainMarketplaceTask]="task"
  ></favr-marketplace-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
