<favr-page-header
  pageTitle="Add Location"
></favr-page-header>

<ion-content>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label" color="medium">
        ADD LOCATION
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <div class="container">
    <div class="input">
      <favr-input inputLabel="What is your street address?"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="What is your city?"></favr-input>
    </div>
    <div class="input">
      <favr-select selectLabel="What is your state?"></favr-select>
    </div>
    <div class="input">
      <favr-input inputLabel="What is your zip code?"></favr-input>
    </div>
  </div>
  <div class="submit">
    <ion-button color="primary" shape="round">Submit</ion-button>
  </div>
</ion-content>