.page-title {
  margin: 0;
  font-weight: 800;
  padding-left: 12px;
  padding-top: 0;
  padding-bottom: 0;
}

ion-card-content {
  padding: 1em!important;
}

ion-searchbar {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
