<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Account Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-list-header>
      TEMPORARY OPTION
    </ion-list-header>

    <ion-item href="#">
      <ion-icon slot="start" name="alert"></ion-icon>
      <ion-label>Deactivate My Account</ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-padding">
    <ion-list-header>
      PERMANENT OPTION
    </ion-list-header>

    <ion-item href="#">
      <ion-icon slot="start" name="nuclear"></ion-icon>
      <ion-label>Delete My Account</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
