<favr-page-header
  pageTitle="Account Options"
></favr-page-header>

<ion-content>
  <ion-row class="row-header">
    <ion-item-divider>
      <ion-label class="label" color="medium">
        TEMPORARY OPTION
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row class="btn">
    <ion-item-divider>
    <ion-col size="11">
      <ion-text color="dark">
        <h6>
          <ion-icon name="alert"></ion-icon> <span class="text"> Deactivate My Account</span>
        </h6>
      </ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row class="row-header">
    <ion-item-divider>
      <ion-label class="label" color="medium">
        PERMANENT OPTION
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row class="btn">
    <ion-item-divider>
    <ion-col size="11">
      <ion-text color="dark">
        <h6>
          <ion-icon name="nuclear"></ion-icon> <span class="text"> Delete My Account</span>
        </h6>
      </ion-text>
    </ion-col>
    <ion-col size="1">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-content>