<ion-header>
  <ion-toolbar *ngIf="isModal" class="page-header">
    <ion-buttons>
      <ion-button (click)="closePage()">
        close
      </ion-button>
    </ion-buttons>
    <ion-title hidden>{{pageTitle}}</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="showBackButton"
               class="mobile-only">
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="search-area">
    <ion-row class="page-title-header">
      <ion-col *ngIf="pageTitle" class="page-title-area">
        <h1 class="page-title">{{pageTitle}}</h1>
      </ion-col>
      <ion-col>
        <ion-buttons class="page-header-buttons">
          <ion-button *ngIf="showProfile" [routerLink]="['/app/profile', profileId]" routerDirection="forward">
            <ion-avatar class="page-title-header-profile">
              <img [src]="profileImage ? profileImage : '../../../../assets/img/user.png'" alt="profile picture">
            </ion-avatar>
          </ion-button>
          <ion-button *ngIf="pageTitle == 'Marketplace'
                             || pageTitle == 'Friends'
                             || pageTitle == 'Notifications'
                             || pageTitle == 'Settings'"
                      [routerLink]="'/app/chat'"
                      [routerDirection]="'forward'">
            <ion-icon name="chatbubbles"></ion-icon>
          </ion-button>
          <ion-button (click)="presentFilterOptions()" *ngIf="pageTitle == 'Marketplace'">
            <ion-icon name="funnel"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-progress-bar *ngIf="progress" [value]="progress"></ion-progress-bar>
    <ion-searchbar *ngIf="showSearchBar" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>
