<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Saved Locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-list-header>
      ADD LOCATION
    </ion-list-header>
    <ion-item href="/app/add-location">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>Add a Location Preference</ion-label>
    </ion-item>


  </ion-list>

  <ion-list class="ion-padding">
    <ion-list-header>
      SAVED LOCATIONS
    </ion-list-header>
    <ion-item>
      <ion-icon slot="end" name="checkmark"></ion-icon>
      <ion-label>
        <h3>2006 15th Ave NW</h3>
        <p>Rochester, MN 55901</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>15300 Greenhaven Ln</h3>
        <p>Burnsville, MN 55306</p>
      </ion-label>
    </ion-item>


  </ion-list>
</ion-content>
