<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/settings"></ion-back-button>
    </ion-buttons>
    <ion-title> DEVICE SESSIONS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-list-header>
      DEVICE SESSIONS
      <ion-button class="kill-all-btn" shape="round" size="small">Kill All</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-icon name="phone-portrait" class="icon"></ion-icon>
      <ion-label>
        <h3>FAVR/1.0.4 (iPad; iOS 12.3; Scale/2.00)</h3>
        <p>IP: 17.222.112.65</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" class="icon"></ion-icon>
      <ion-label>
        <h3>FAVR/1.0.4 (iPad; iOS 12.3; Scale/2.00)</h3>
        <p>IP: 17.222.112.65</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" class="icon"></ion-icon>
      <ion-label>
        <h3>FAVR/1.0.4 (iPad; iOS 12.3; Scale/2.00)</h3>
        <p>IP: 17.222.112.65</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" class="icon"></ion-icon>
      <ion-label>
        <h3>FAVR/1.0.4 (iPad; iOS 12.3; Scale/2.00)</h3>
        <p>IP: 17.222.112.65</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="phone-portrait" class="icon"></ion-icon>
      <ion-label>
        <h3>FAVR/1.0.4 (iPad; iOS 12.3; Scale/2.00)</h3>
        <p>IP: 17.222.112.65</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
