<favr-page-header
  pageTitle="Edit Profile"
></favr-page-header>

<ion-content>
  <div class="container">
    <ion-avatar></ion-avatar>
    <div class="input">
      <favr-input inputLabel="Description"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="Username"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="Email"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="First Name"></favr-input>
    </div>
    <div class="input">
      <favr-input inputLabel="Last Name"></favr-input>
    </div>
    <div class="buttons">
      <ion-button color="primary" routerLink="/settings" class="edit-profile-btn" shape="round">Cancel</ion-button>
      <ion-button color="primary" routerLink="/settings" class="edit-profile-btn" shape="round">Save</ion-button>
    </div>
  </div>
</ion-content>