<favr-page-header
  pageTitle="Notifications"
></favr-page-header>

<ion-content>
  <ion-row>
    <ion-item-divider>
      <ion-label class="label" color="medium">
        NOTIFICATION PREFERENCES
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
      <ion-col size="11">
        <ion-text color="dark">
          <h6>
            Email Notifications
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-toggle color="primary"></ion-toggle>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
      <ion-col size="11">
        <ion-text color="dark">
          <h6>
            SMS Notifications
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-toggle color="primary"></ion-toggle>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
      <ion-col size="11">
        <ion-text color="dark">
          <h6>
            Push Notifications
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-toggle color="primary"></ion-toggle>
      </ion-col>
    </ion-item-divider>
  </ion-row>
  
</ion-content>