<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref></ion-back-button>
    </ion-buttons>
    <ion-title>Task Details</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isOwner"
                  (click)="presentActionSheet()"
                  class="nav-button">
        <ion-icon name="more"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isOwner"
                  (click)="presentOwnerActionSheet()"
                  class="nav-button">
        <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="mainMarketplaceTask" >
    <ion-slides [pager]="true">
      <ion-slide (click)="viewAttachedPhoto(mainMarketplaceTask.image_one, 'Image 1')" class="marketplace-slide-image" *ngIf="mainMarketplaceTask.image_one">
        <img [src]="mainMarketplaceTask.image_one" alt="image one">
      </ion-slide>

      <ion-slide (click)="viewAttachedPhoto(mainMarketplaceTask.image_two, 'Image 2')" class="marketplace-slide-image" *ngIf="mainMarketplaceTask.image_two">
        <img [src]="mainMarketplaceTask.image_two" alt="image two">
      </ion-slide>

      <ion-slide (click)="viewAttachedPhoto(mainMarketplaceTask.image_one, 'Image 3')" class="marketplace-slide-image" *ngIf="mainMarketplaceTask.image_three">
        <img [src]="mainMarketplaceTask.image_three" alt="image three">
      </ion-slide>
    </ion-slides>

    <ion-item detail="false" lines="none" routerLink="/app/profile/{{mainMarketplaceTask.customer.id}}">
      <ion-avatar slot="start">
        <img [src]="mainMarketplaceTask.customer.profile.image" alt="profile picture">
      </ion-avatar>
      {{mainMarketplaceTask.customer.first_name}} {{mainMarketplaceTask.customer.last_name}}
      <div slot="end">
        <div class="marketplace-card-price-area">
          <div class="marketplace-card-price-tag">
            {{mainMarketplaceTask.price | currency:'USD'}}
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item detail="false" lines="none">
      <div slot="start">
        <small>
          <div class="complete-by-time">Needs Complete by {{mainMarketplaceTask.isoFormat | date}}</div>
          <ion-note class="note posted-time">
            Posted {{mainMarketplaceTask.created_at | date}}
          </ion-note>
        </small>
      </div>
      <div slot="end" class="marketplace-card-distance-away">
        <small>
          4 min away
        </small>
      </div>
    </ion-item>

    <ion-grid padding-start padding-end>

      <ion-row *ngIf="userRole == Role.VERIFIED_FREELANCER && !isOwner"
               class="ion-no-padding ion-justify-content-center" padding-bottom>
        <ion-col size="6" class="ion-text-center">
          <ion-button *ngIf="mainMarketplaceTask.status == TaskStatus.REQUESTED && !isFreelancer" fill="clear" size="small" color="primary">
            <ion-icon name="thumbs-up" slot="start"></ion-icon>
            Accept
          </ion-button>

          <ion-button *ngIf="mainMarketplaceTask.status == TaskStatus.PENDING_APPROVAL && isFreelancer" fill="clear" size="small" color="primary">
            <ion-icon name="thumbs-down" slot="start"></ion-icon>
            Withdraw
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear" size="small" color="primary" (click)="startChat(mainMarketplaceTask.customer.username)">
            <ion-icon name="chatbubbles" slot="start"></ion-icon>
            Contact
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isOwner"
               class="ion-no-padding ion-justify-content-center" padding-bottom>
        <ion-col size="6" class="ion-text-center">
          <ion-button (click)="customerCancelTask()"
                      fill="clear" size="small" color="primary">
            <ion-icon name="close" slot="start" size="large" style="margin-right: 0"></ion-icon>
            Cancel
          </ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button fill="clear" size="small" color="primary">
            <ion-icon name="create" slot="start"></ion-icon>
            Edit
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/lawnmower.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Task Category:</b>
          <br>
          Lawn Mowing
          <!--{{mainMarketplaceTask.category}}-->
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/suitcase.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Task Description</b>
          <br>
          <div id="taskDescription" [innerHTML]="mainMarketplaceTask.description"></div>
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/bank.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Price:</b>
          <br>
          You earn
          ${{mainMarketplaceTask.price}}
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/group.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Freelancer Count:</b>
          <br>
          {{mainMarketplaceTask.freelancer_accepted}} people accepted,
          task needs {{mainMarketplaceTask.freelancer_count - mainMarketplaceTask.freelancer_accepted}} more
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/map.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Location:</b>
          <br>
          <div *ngIf="mainMarketplaceTask.locations; else timeAway">
            {{mainMarketplaceTask.locations[0].street_address}},
            {{mainMarketplaceTask.locations[0].city}},
            {{mainMarketplaceTask.locations[0].state}},
            {{mainMarketplaceTask.locations[0].zip}}
          </div>
          <ng-template #timeAway>
            4 min away
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/calendar.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Complete Before:</b>
          <br>
          {{mainMarketplaceTask.isoFormat | date: 'MMM dd, yyyy h:mm a'}}
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/tools.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Intensity:</b>
          <br>
          <div *ngIf="mainMarketplaceTask.intensity == 'Easy'"
               id="easy-button">Easy 👌
          </div>
          <div *ngIf="mainMarketplaceTask.intensity == 'Medium'"
               id="medium-button">Medium 💪🏿
          </div>
          <div *ngIf="mainMarketplaceTask.intensity == 'Hard'"
               id="hard-button">Hard 🔥
          </div>
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col size="3">
          <img src="../../../assets/img/stopwatch.png" class="marketplace-detail-icons">
        </ion-col>
        <ion-col size="9">
          <b>Current Status:</b>
          <br>
          Task {{taskStatusDisplay}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
