<favr-page-header
  pageTitle="Past Payments"
></favr-page-header>

<ion-content>
  <ion-row class="row-header">
    <ion-item-divider>
      <ion-label class="label" color="medium">
        PAST PAYMENTS
      </ion-label>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size-xs="10" size-md="11" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
      <ion-text color="dark" class="description-text"> Payment description goes here.</ion-text>
    </ion-col>
    <ion-col size-xs="2" size-md="1" class="col">
      <ion-text color="dark">$50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size-xs="10" size-md="11" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
      <ion-text color="dark" class="description-text"> Payment description goes here.</ion-text>
    </ion-col>
    <ion-col size-xs="2" size-md="1" class="col">
      <ion-text color="dark">$50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size-xs="10" size-md="11" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
      <ion-text color="dark" class="description-text"> Payment description goes here.</ion-text>
    </ion-col>
    <ion-col size-xs="2" size-md="1" class="col">
      <ion-text color="dark">$50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
  <ion-row>
    <ion-item-divider>
    <ion-col size-xs="10" size-md="11" class="col">
      <ion-text color="dark">09/15/2019</ion-text>
      <ion-text color="dark" class="description-text"> Payment description goes here.</ion-text>
    </ion-col>
    <ion-col size-xs="2" size-md="1" class="col">
      <ion-text color="dark">$50.00</ion-text>
    </ion-col>
    </ion-item-divider>
  </ion-row>
</ion-content>